---
layout: default
---

<div class="container">
  <div class="row">
    <div class="pdf-cover">
      <img src="{{site.baseurl}}/images/logo.png">
      <div class="text-center">
        <h4>A Protocol for High-Security Bitcoin Storage</h4>
        <p>Version 0.9-BF-Beta</p>
        <a href="https://www.glacierbf.org/">Check the latest version</a>
      </div>
    </div>
  </div>
</div>

<div class="container pdf-content">
  <div class="row">
    <div class="col-md-12">
      {{ content }}
    </div>
  </div>
</div>